* {
	margin: 0;
	padding: 0;
	font-family: 'Be Vietnam Pro', sans-serif;
	box-sizing: border-box;
	background-image: url('imagenes/bg-simplify-section-desktop.svg');
}
/* Aqui inicia el header */

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 50px;
	padding-bottom: 100px;
	padding-left: 10vw;
	padding-right: 10vw;
	background: transparent;
}

.headerUl {
	display: flex;
	list-style-type: none;
}

.headerUlA {
	color: #242e52;
	text-decoration: none;
	padding: 10px;
}

.headerUlA:hover {
	opacity: 0.65;
}

.headerLi {
	padding: 10px;
}

.getStartedButton {
	width: 150px;
	height: 50px;
	color: #ffffff;
	background-color: #f3603b;
	border: none;
	border-radius: 40px;
	box-shadow: 0px 10px 5px -3px rgba(254, 205, 195, 0.8);
	-webkit-box-shadow: 0px 10px 5px -3px rgba(254, 205, 195, 0.8);
	-moz-box-shadow: 0px 10px 5px -3px rgba(254, 205, 195, 0.8);
}

.getStartedButton:hover {
	opacity: 0.65;
	cursor: pointer;
}

.hamburguerIcon {
	color: #232c50;
	display: none;
}

/* Aqui acaba el header */

/* Aqui iniciar el main */

main {
	padding: 0px 10vw 200px 10vw;
}

.SectionOneTwo {
	display: flex;
	width: 100%;
	justify-content: space-between;
	margin-bottom: 100px;
}

.mainTitle {
	color: #232c50;
	font-size: 3rem;
	font-weight: bold;
	margin-bottom: 20px;
}

.mainLeftTexts {
	margin-bottom: 20px;
	font-size: 1rem;
}

.mainSubtitle {
	color: #232c50;
	font-size: 2rem;
	font-weight: bold;
	margin-bottom: 20px;
}

.littleTitles {
	color: #232c50;
	margin-bottom: 20px;
	margin-top: 40px;
	text-align: initial;
}

.littleTitles:nth-child(1) {
	margin-bottom: 20px;
}

.littleTitlesOne::before {
	content: '01';
	position: relative;
	padding: 5px 20px;
	color: #ffffff;
	margin-right: 0.5vw;
	background-color: #f3603b;
	border: none;
	border-radius: 30px;
}

.littleTitlesTwo::before {
	content: '02';
	position: relative;
	padding: 5px 20px;
	color: #ffffff;
	margin-right: 0.5vw;
	background-color: #f3603b;
	border: none;
	border-radius: 30px;
}

.littleTitlesThree::before {
	content: '03';
	position: relative;
	padding: 5px 20px;
	color: #ffffff;
	margin-right: 0.5vw;
	background-color: #f3603b;
	border: none;
	border-radius: 30px;
}

.rightTexts {
	color: #b3b2b7;
	margin-left: 4vw;
}

.cardsSection {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
}

.cardsContainer {
	display: flex;
	justify-content: center;
	margin: 100px 0px 50px;
}

.card {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	padding: 0 2vw;
	background-color: #fafafa;
}

.cardAvatar {
	position: relative;
	width: 80px;
	height: auto;
	border-radius: 50px;
	bottom: 40px;
}

.cardUserName {
	color: #242e53;
}

.cardText {
	margin: 20px 0px 25px;
	text-align: center;
	color: #b9b9c1;
}

.CarruselPng {
	display: none;
}

/* Aqui acaba el main */

/* Aqui inicia el footer */

.footerFirstSection {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: #f3613c;
	padding: 50px 100px;
	height: auto;
}

.footerFirstSectionTitle {
	color: #ffffff;
	font-size: 2rem;
}

.invertedGetStartedButton {
	width: 150px;
	height: 50px;
	color: #f3603b;
	background-color: #ffffff;
	border: none;
	border-radius: 40px;
}

.invertedGetStartedButton:hover {
	opacity: 0.9;
	cursor: pointer;
}

.footerSecondSection {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	background-color: #1e1e26;
	padding: 50px 100px;
	height: auto;
}

.footerSecondSectionSocialNetworksContainer {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
}

.footerSecondSectionInvertedLogo {
	margin-bottom: 50px;
}

.footerSecondSectionIcon {
	padding: 20px 20px 0px 0px;
}

.footerSecondSectionIcon:hover {
	filter: invert(39%) sepia(98%) saturate(677%) hue-rotate(333deg)
		brightness(101%) contrast(91%);
}

.navsContainer {
	display: flex;
	width: 25%;
	justify-content: space-between;
}

.footerSecondSectionNav {
	display: flex;
	flex-direction: column;
}

.footerSecondSectionNavUl {
	list-style-type: none;
}

.footerSecondSectionNavLi {
	margin-bottom: 10px;
}

.footerSecondSectionNavA {
	text-decoration: none;
	color: #ffffff;
}

.footerSecondSectionNavA:hover {
	color: #f3613c;
	cursor: pointer;
}

.footerSectionInbox {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: space-around;
	height: auto;
}

.inboxInput {
	width: 250px;
	height: 50px;
	color: #f3603b;
	background-color: #ffffff;
	border: 2px solid transparent;
	border-radius: 40px;
	padding-left: 10px;
	margin-right: 10px;
}

.inboxInput:focus {
	border-color: #f3603b;
}

.goButton {
	width: 75px;
	height: 50px;
	color: #ffffff;
	background-color: #f3603b;
	border: none;
	border-radius: 40px;
}

.goButton:hover {
	background-color: #f88e74;
	cursor: pointer;
}

.copyrightSpan {
	margin-top: 50px;
	color: #8c8c94;
}

@media (max-width: 375px) {
	html {
		font-size: 13px;
	}

	.headerNavbar {
		display: none;
	}

	header .getStartedButton {
		display: none;
	}

	.hamburguerIcon {
		display: flex;
	}

	main {
		padding: 0;
	}

	.SectionOneTwo:nth-child(1) {
		display: flex;
		flex-direction: column-reverse;
		margin-bottom: 20px;
		align-items: center;
	}

	.SectionOneTwo:nth-child(2) {
		display: flex;
		flex-direction: column;
	}

	.getStartedButton {
		margin-bottom: 70px;
	}

	.SectionOneTwo div {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	.SectionOneTwo div:nth-child(1) p {
		text-align: center;
	}

	.mainTitle {
		text-align: center;
	}

	.mainSubtitle {
		text-align: center;
	}

	.dataImage {
		width: 80vw;
	}

	.rightTextContainer {
		padding-left: 10px;
		margin-top: 70px;
	}

	.littleTitles {
		background-color: #fff0eb;
		height: 25px;
		width: 100%;
		border-bottom-left-radius: 30px;
	}

	.righttextBr {
		display: none;
	}

	.card:nth-child(odd) {
		display: none;
	}

	.CarruselPng {
		display: flex;
		margin-bottom: 50px;
	}

	.footerFirstSection {
		flex-direction: column;
		align-items: center;
		padding-left: 0;
		padding-right: 0;
	}

	.footerFirstSectionTitle {
		text-align: center;
	}

	.invertedGetStartedButton {
		margin-top: 20px;
	}

	.footerSecondSection {
		flex-direction: column-reverse;
		position: relative;
		padding: 20px 0;
		align-items: center;
	}

	.footerSecondSectionIcon {
		height: 55px;
	}

	.footerSecondSectionInvertedLogo {
		margin-top: 50px;
	}
	.footerSecondSectionSocialNetworksContainer {
		flex-direction: column-reverse;
	}

	.navsContainer {
		margin-top: 50px;
		margin-bottom: 30px;
		justify-content: space-around;
		width: 100%;
	}

	.footerSecondSectionNavA {
		font-size: 1.25rem;
	}

	.copyrightSpan {
		position: absolute;
		bottom: 20px;
		left: 20%;
	}
}
