.title {
	font-family: 'Times New Roman';
	text-align: center;
	font-size: 35px;
	line-height: 30px;
	color: #005677;
	background-color: #c4c4c4;
}

.whiteSpace {
}

.subTitle {
	font-family: 'Times New Roman';
	text-align: start;
	font-size: 20px;
	line-height: 16px;
	color: #005677;
	background-color: #c4c4c4;
}

.listTitle {
	display: inline;
	font-family: 'Times New Roman';
	text-align: start;
	font-size: 15px;
	font-style: italic;
	font-weight: bold;
}

.listItem {
	display: inline;
	font-family: 'Times New Roman';
	text-align: start;
	font-size: 15px;
	font-style: italic;
}
